body {
  font-family: "Noto Sans", sans-serif;
  color: #272829;
}

a {
  color: #149ddd;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans", sans-serif;
}

/*BACK TO TOP FUNCTION CSS CODE GOES HERE*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: al 0.5s;
}

.back-to-top i {
  font-size: 28px;
  color: white;
  line-height: 0;
}

.back-to-top:hover {
  background: #37b3ed;
  color: white;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*HEADER CSS CODE GOES HERE*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 1.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background-color: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #434347;
}

#header .profile h1 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
  padding: 0;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Noto Sans", sans-serif;
}

#header .profile h1 a, #header .profile h1 a:hover {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 20px;
  color: white;
  display: inline-block;
  background: #434347;
  line-height: 1;
  padding: 8px 0;
  margin-right: 8px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.5s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: white;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}

/*NAVBAR MENU CSS CODE GOES HERE*/
.nav-menu {
  padding: 40px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  color: #bcbccc;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin-bottom: 6px;
  transition: 0.5s;
  font-size: 16px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 12px;
  color: #bcbccc;
}

.nav-menu a:hover, .nav-menu .active, .nav-menu li:hover > a {
  text-decoration: none;
  color: white;
}

.av-menu a:hover i, .nav-menu .active i, .nav-menu li:hover > a i {
  color: #149ddd;
}

/*NAVIGATION TOGGLE FOR MOBILE CSS CODE GOESH HERE*/
.mobile-nav-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.5s;
  outline: none !important;
  background-color: #149ddd;
  color: white;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*HOME MENU CSS CODE GOES HERE*/
#home {
  width: 100%;
  height: 100vh;
  background: url("../img/background.jpg") top center;
  background-size: cover;
}

#home::before {
  content: "";
  background: rgba(5, 13, 24, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#home .home-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#home h1 {
  margin: 0 0 10px 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
  color: white;
}

#home p {
  color: white;
  margin-bottom: 50px;
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
}

#home p span {
  color: white;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #home h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*DEFAULT SECTION CSS CODE GOES HERE*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*ABOUT CONTENT CSS CODE GOES HERE*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*SKILLS CONTENT CSS CODE GOES HERE*/
.skills h4 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #173b6c;
}
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: black;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: all 3s;
  background-color: #149ddd;
}

/*RESUME CONTENT CSS CODE GOES HERE*/
.resume .resume-title {
  font-size: 28px;
  font-weight: 700;
  margin: 20px 0;
  color: black;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 26px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-bottom: 12px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: white;
  border: 2px solid #1f5297;
}

/*SWIPER CSS CUSTOM CAROUSEL FOR LICENSE & CERTIFICATION GOES HERE*/
.license .license-item {
  margin-bottom: 30px;
}

.license .license-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.license .license-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.5s;
  z-index: 2;
  opacity: 0;
}

.license .license-wrap .license-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.5s;
  display: flex;
  justify-content: center;
}

.license .license-wrap .license-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: rgba(20, 157, 221, 0.75);
  transition: 0.5s;
  width: 100%;
}

.license .license-wrap .license-links a:hover {
  background: rgba(20, 157, 221, 0.95);
}

.license .license-wrap .license-links a + a {
  border-left: 1px solid #37b3ed;
}

.license .license-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.license .license-wrap:hover .license-links {
  opacity: 1;
  bottom: 0;
}

.license .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.license .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #149ddd;
}

.license .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #149ddd;
}

/*CONTACT CSS CODE GOES HERE*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}